@import url("https://use.typekit.net/hzh7oof.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "stix-two-text", serif;
    font-weight: 700;
    font-style: normal;
}

.stix-math {
    font-family: "stix-two-math", serif;
    font-weight: 400;
    font-style: normal;
}

.stix-text {
    font-family: "stix-two-text", serif;
    font-weight: 400;
    font-style: normal;
}

.stix-text-italic {
    font-family: "stix-two-text", serif;
    font-weight: 400;
    font-style: italic;
}

.stix-text-bold {
    font-family: "stix-two-text", serif;
    font-weight: 700;
    font-style: normal;
}

.stix-text-bold-italic {
    font-family: "stix-two-text", serif;
    font-weight: 700;
    font-style: italic;
}

.myriad-pro-regular {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
}   

.myriad-pro-bold {
    font-family: 'Myriad Pro Bold', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.myriad-pro-italic {
    font-family: 'Myriad Pro Regular', sans-serif;
    font-weight: normal;
    font-style: italic;
}   

.myriad-pro-bold-condensed {
    font-family: 'Myriad Pro Bold Condensed', sans-serif;
    font-weight: normal;
    font-style: normal;
}
